.heroBg {
    background-image: url("../../../public/imgs/Landing/Hero/heroBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown {
    overflow-y: auto; 
    
    scrollbar-width: none; 
  }
  
  .dropdown::-webkit-scrollbar {
    display: none; 
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(0,1fr)); 
    max-width: 100%;
    gap: 0.7rem;
    box-sizing: border-box;
    justify-content: center; 
  }
  

  
  .grid-item:nth-child(3n + 1) { grid-column: span 2; } 
  .grid-item:nth-child(3n + 2) { grid-column: span 2; } 
  .grid-item:nth-child(3n + 3) { grid-column: span 3; } 
  
  .grid-item:nth-child(6n + 4) { grid-column: span 3; }
  .grid-item:nth-child(6n + 5) { grid-column: span 2; }
  .grid-item:nth-child(6n + 6) { grid-column: span 2; }


  
  .resultCard {
    background-image: url("../../../public/imgs/Landing/Hero/cardBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
    max-height: 16rem;
  }

  .contactBanner {
    background-image: url("../../../public/imgs/Landing/Hero/contactBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centers the image */
   
  }

  .contactForm {
    backdrop-filter: blur(4px);
    background: #FFFFFFB5;

  }

  .mobileBanner {
    background-image: url("../../../public/imgs/Landing/Hero/MobileBanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}